html, body, head{
    margin: 0;
    overflow: hidden;
}

#title{
  margin-top: 0px;
}

#header-bar{
  height: 20vh;
  background-color: blue;
}

#time-line{
  background-color: red;
  height: 80vh;
}

#side-elements{
  float: right;
  margin: 0;
  width: 25vw;
}

#map {
  width:75vw;
  height: 100vh;
  float: left;
  margin: 0;
}
