html, body, head, h2, h1{
    margin: 0;
}

#title{
  margin-top: 0px;
}

#header-bar{
  height: 100px;
  background-color: #edbe51;
}

#time-element{
  height: calc(100%-100);
  background-color: white;
  height: 80vh;
}

#side-elements{
  width: 400px;
  float: right;
  margin: 0;
  z-index: -1;
  position: relative;

}

#map {
  width: calc(100% - 400px);
  height: 100vh;
  position: relative;
  float: left;
  margin: 0;
  z-index: 0;
}
