node_modules
javascript/secrets.js
javascript/dbsecrets.json
.jshintrc
*.jpg
!images/defaultcat.jpg
.env
javascript/catTemplate.js
javascript/dbsecrets.json
javascript/dbsecrets.json
javascript/photoCardTemplate.js
